header {
  margin-top: 1.5625rem;
  text-align: center;

  .title-page {
    text-align: start;

    a {
      display: inline-flex;
      gap: 6px;

      padding-block: 62px 16px;

      color: var(--color-brand);

      &::before {
        content: "";
        background-image: url(../assets/icons/arrow.svg);
        background-position: contain;
        width: 20px;
        height: 20px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
