.container {
  --max-width: 327px;

  margin-inline: auto;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
}

.py-base {
  padding-block: var(--py-base);
}

.py-sm {
  padding-block: var(--py-sm);
}

.py-md {
  padding-block: var(--py-md);
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-xl {
  padding-block: var(--py-xl);
}

.desktop-only {
  display: none;
}

.grid {
  display: grid;
}

.gap-6 {
  gap: 6px;
}

.gap-16 {
  gap: 16px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

@media (width >= 39.1875em) {
  .container {
    --max-width: 627px; /* 39.1875em * 16px = 627px */
  }

  .desktop-only {
    display: initial;
  }
}
